{% extends 'layout.html' %}
{% block content %}
  <center ng-controller="jobsphereonlineController">
	<form class="form-inline" name="searchForm" action="job/search/">
		<div class="form-group">
			<label for="jobCategory">What ?</label>
			<input type="text" class="form-control" ng-model="tag" size="35" id="tag" name="tag" placeholder="example: Java, Database" uib-typeahead="tag for tag in searchTag($viewValue)"
			typeahead-loading="loadingTags" typeahead-no-results="noResults">
			<i ng-show="loadingTags" class="glyphicon glyphicon-refresh"></i>
    		<div ng-show="noResults">
      			<i class="glyphicon glyphicon-remove"></i> No Results Found
    		</div>
		</div>
		<div class="form-group">
			<label for="location">Where ?</label>
			<input type="text" class="form-control" ng-model="location" size="35" id="location" name="location" placeholder="example: Munich, Dhaka"
			uib-typeahead="location for location in searchLocations($viewValue)"
			typeahead-loading="loadingLocations" typeahead-no-results="noResults">
		</div>
		<input type="hidden" name="page" value="1" />
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
	
	<form action="/doctor_signup/" method="post">
    	{% csrf_token %}
    	{{doctor_form}}
    	Title : <input id="title" type="text" name="title" maxlength="10" required /> <br/>
    	firstName: <input id="firstName" type="text" name="firstName" maxlength="55" required /> <br/>
    	lastName: <input id="lastName" type="text" name="lastName" maxlength="55" required /> <br/>
    	addrLine1: <input id="addrLine1" type="text" name="addrLine1" maxlength="100" required /> <br/>
    	addrLine2: <input id="addrLine2" type="text" name="addrLine2" maxlength="100" required /> <br/>
    	postCode: <input id="postCode" type="text" name="postCode" maxlength="20" required /> <br/>
    	city: <input id="city" type="text" name="city" maxlength="100" required /> <br/>
    	mobile: <input id="mobile" type="text" name="mobile" maxlength="100" required /> <br/>
    	email: <input id="email" type="text" name="email" maxlength="120" required /> <br/>
    	website: <input id="website" type="text" name="website"  required /> <br/>
    	<input type="submit" value="Submit" />
	</form>
  </center>
 {% endblock %}